# don't commit my venv with the installed packages
my-venv/

# don't commit audio files
*.mp3

# ignore irrelevant files like  Jupyter Notebook checkpoints
.ipynb_checkpoints/
.DS_Store

# ignore compiled bytecode files for imported modules
brute-force-implementation/__pycache__/

# for trying out different functions
brute-force-implementation/sandbox.py

# these files are generated
financial-data/nasdaqlisted-symbols.txt
financial-data/automated/
