# Virtual environments
my-venv/
spleeter-venv/

# Files from MacOS, PyCharm, Jupyter Notebook
.DS_Store
.idea
.ipynb_checkpoints/

# Data
# Don't commit audio files
*.mp3
data/ucr-archive-2018
data/weather
data/google-drive/*
data/audio/out
data/audio/ron-minis-separated/

# For trying out different functions
src/corr_join/sandbox.py

# Ignore compiled bytecode files for imported modules
src/corr_join/__pycache__/
src/experiments/__pycache__/

# Archive
# I looked at this data, but it's unsuitable for my application
data/audio/McGill-Billboard/

# Logs
src/corr_join/logs/pruning-rate-exact.log
src/corr_join/logs/pruning-rate.log
src/corr_join/logs/report-*
src/corr_join/plots/*
