# manually maintained requirements for my-venv, which I use for converting mp3 files to npy files
notebook
# librosa is not compatible with numpy 2, use numpy version < 2
numpy==1.26.4
matplotlib
librosa
pyts
itertools
math
pandas
# Used for opening weather
xarray
cftime

# for scraping financial data
# I couldn't add this package to my conda environment. 
# I used a separate Python virtual environment for scraping.
playwright

